<div class="wrapper wrapper-content" ng-controller="EmailCandidateSummaryCtrl">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-3">
                <form role="form">
                    <div class="form-group"><input type="text" placeholder="Candidate ID" class="form-control"
                                                   ng-model="candidateID"></div>
                    <div class="col-sm-10 form-group">
                        <div class="radio"><label> <input icheck type="radio" name="detailsTargetType"   value="Candidate" ng-model="detailsTargetType">  For Candidate </label></div>
                        <div class="radio"><label> <input icheck type="radio" name="detailsTargetType" value="Client"  ng-model="detailsTargetType">  For Client </label></div>
                        <div class="radio"><label> <input icheck type="radio" name="detailsTargetType" value="Internal"  ng-model="detailsTargetType" >  Internal  </label></div>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"
                                ng-click="getCandidateSummary()"><strong>Get Candidate Summary</strong></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <BR>
    {{candidateSummaryTableLoadingStatus}}
    <div class="row" ng-show="candidateSummaryTable && candidateInteractionSummary">
        <div class="col-lg-9">
            <div class="mail-box-header">
                <h2>
                    Candidate Summary
                </h2>
            </div>
            <div class="ibox-content">

                <div class="row"><label class="col-sm-2 control-label">Subject:</label>

                    <div class="col-sm-10"><input type="text" class="form-control"
                                                  value="{{candidateDetailsSummary.Name}}, {{candidateDetailsSummary.Experience}} yrs, {{candidateDetailsSummary.Current_Location}} - ({{candidateDetailsSummary.Requirement_ID }}, {{candidateDetailsSummary.Candidate_ID}})">
                    </div>
                </div>
                <br>
                <div class="row" ng-hide="detailsTargetType == 'Candidate'"><label class="col-sm-2 control-label">Summary:</label>
                  <!--  <div ng-bind-html='firstLinehtml'></div>{{secondLine}} {{employmentStatusLine}}<div ng-bind-html='salaryLinehtml'></div><div ng-bind-html='noticePeriodStatusLinehtml'></div>-->
                    <div ng-bind-html='summaryCommentshtml'>
                </div>
                <br>
                <div class="row" ng-show="detailsTargetType == 'Internal'">
                    <label class="col-sm-2 control-label" ng-show="firstAssessmentComments.Username">First Assessment Comments ({{firstAssessmentComments.Username | split:'@':0}}) :</label>
                    <label class="col-sm-2 control-label" ng-show="!firstAssessmentComments.Username">First Assessment Comments  :</label>
                    {{firstAssessmentComments.Interaction_Comments}}
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <label>Skill: </label> &nbsp;{{firstAssessmentComments.Relevant_Skill_Check}}
                            </td>
                            <td>
                                <label>Exp: </label> &nbsp;{{firstAssessmentComments.Relevant_Exp_Check}}

                            </td>
                            <td>
                                <label>Role: </label> &nbsp;{{firstAssessmentComments.Role_Match_Check}}

                            </td>
                            <td>
                                <label>Matches Notice Period: </label> &nbsp;{{firstAssessmentComments.Notice_Period_Check}}

                            </td>
                            <td>
                                <label>Matches Budget: </label> &nbsp;{{firstAssessmentComments.Budget_Match_Check}}

                            </td>
                        </tr>
                        </tbody>
                        </table>
                </div>
                <br>
                <div class="row" ng-show="detailsTargetType == 'Internal'">
                    <label class="col-sm-2 control-label" ng-show="secondAssessmentComments.Username" >Second Assessment Comments ({{secondAssessmentComments.Username | split:'@':0}}):</label>
                    <label class="col-sm-2 control-label" ng-show="!secondAssessmentComments.Username">Second Assessment Comments :</label>
                    {{secondAssessmentComments.Interaction_Comments}}
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <label>Knowledge level: </label> &nbsp;{{secondAssessmentComments.Knowledge_level_Check}}
                            </td>
                            <td>
                                <label>Job Stability: </label> &nbsp;{{secondAssessmentComments.JobStability_Check}}
                            </td>
                            <td>
                                <label>Job Eagerness: </label> &nbsp;{{secondAssessmentComments.Job_Eagerness_Check}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="row" ng-show="detailsTargetType == 'Internal'">
                    <label class="col-sm-2 control-label" ng-show="thirdAssessmentComments.Username">Third Assessment Comments ({{thirdAssessmentComments.Username | split:'@':0}}) :</label>
                    <label class="col-sm-2 control-label" ng-show="!thirdAssessmentComments.Username">Third Assessment Comments :</label>
                    {{thirdAssessmentComments.Interaction_Comments}}
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <label>Culture Fit: </label> &nbsp;{{thirdAssessmentComments.Culture_Fit_Check}}
                            </td>
                            <td>
                                <label>Captured Achievements: </label> &nbsp;{{thirdAssessmentComments.Candidate_Achievement_Check}}
                            </td>
                            <td>
                                <label>If you were Hiring Manager of Client, Will you hire?: </label> &nbsp;{{thirdAssessmentComments.Hiring_Manager_Check}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
                <br>
                <div class="row"><label class="col-sm-2 control-label">Details:</label>
                    <table id="candidate-summary">
                        <tr ng-show="detailsTargetType == 'Candidate'">
                            <td></td>
                            <td>Details</td>
                            <td>Changes if Any</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{candidateDetailsSummary.Name}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>{{candidateDetailsSummary.DOB | formatDate:'dd-MMM-yyyy'| date:'dd-MMM-yyyy'}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr ng-hide="detailsTargetType == 'Client'">
                            <td>Contact Number</td>
                            <td>{{candidateDetailsSummary.Contact_Number}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr ng-hide="detailsTargetType == 'Client'">
                            <td>Email</td>
                            <td>{{candidateDetailsSummary.Email_ID}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr>
                            <td>Academic Qualification</td>
                            <td>{{candidateDetailsSummary.Qualification}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr>
                            <td>Total Experience (Yrs)</td>
                            <td>{{candidateDetailsSummary.Experience}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr>
                            <td>Current area/ location</td>
                            <td>{{candidateDetailsSummary.Current_Location}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr>
                            <td>Current Company</td>
                            <td>{{candidateDetailsSummary.Company}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr>
                            <td>Current Designation</td>
                            <td>{{candidateDetailsSummary.Current_Desgination}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr>
                            <td>Current Salary (lakhs pa)</td>
                            <td>{{candidateDetailsSummary.Current_Salary}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr>
                            <td>Expected Salary (lakhs pa)</td>
                            <td>{{candidateDetailsSummary.Expected_Salary}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr>
                            <td>Resignation Status</td>
                            <td>{{candidateDetailsSummary.Resignation_Status}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr>
                            <td>Time to Join (in days)</td>
                            <td>{{candidateDetailsSummary.Time_To_Join}}</td>
                            <td ng-show="detailsTargetType == 'Candidate'"></td>
                        </tr>
                        <tr ng-show="detailsTargetType == 'Internal'">
                            <td>Resume</td>
                            <td>{{ candidate.Name}} <a href="{{candidateDetailsSummary.Resume_Link}}" ng-show="candidateDetailsSummary.Resume_Link != null && candidateDetailsSummary.Resume_Link != ' ' "> <img alt="image" class="img-circle" src="img/resume.jpg" height="20" width="20" /></a> <a href="{{candidateDetailsSummary.Subhanu_Link}}" ng-show="candidateDetailsSummary.Subhanu_Link != null && candidateDetailsSummary.Subhanu_Link != ' ' "> <img alt="image" class="img-circle" src="img/cv_round.jpg" height="20" width="20" /></a></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>