<div  ng-controller="OfferAcceptedCtrl"  ng-init="initOfferAccepted()" style ="overflow-y: auto; height: 800px;">
    <div class="row">
        <div class="col-lg-9">
            <div class="text-center m-t-lg">
                <h1>
                    Offer Accepted Candidates
                </h1>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-7">
                            <div class="form-group"><label class="col-sm-3 control-label">Requirement ID</label>
                                <div class="col-sm-1">
                                    <select chosen id="requirementID" class="chosen-select" style="width:170px;"
                                            tabindex="1" ng-model="requirement"
                                        ng-options="requirement.Requirement_ID for requirement in masterList">

                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group" id="data_5">
                                <div class="dropdown" dropdown><label class="col-sm-5">
                                    <a class="dropdown-toggle btn btn-primary btn-sm" dropdown-toggle>
                                        Select range
                                    </a></label>
                            <span>
                                From date: {{(a|date)}} <br>
                                To Date:   {{(b|date)}}
                            </span>

                                    <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                                        <div date-range start="a" end="b"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="form-group"><label class="col-sm-5 control-label">Talent Specialist</label>
                                <div class="col-sm-2">
                                    <select name="user" id="userID" ng-model="talentSpecialist">
                                        <option value="All">All</option>
                                        <option value="bhanu">Bhanu</option>
                                        <option value="bhoopalan">Bhoopalan</option>
                                        <option value="reshma.hebbar">Reshma Hebbar</option>
                                        <option value="vidyashree.naik">Vidyashree Naik</option>
                                        <option value="shubhasree.n">Subhasree Narasimhan</option>
                                        <option value="chaitra.prashanth">Chaithra Prashanth</option>
                                        <option value="harshitha.j">Harshita Jagadish </option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2"><button type="button" class="btn btn-w-m btn-primary" ng-click="getOfferAccepted()">Get Offer Accepted Candidates</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <BR>
    {{scheduleTableLoadingStatus}}
    <div id="querytable" ng-show="activateScheduleTable" style="width:80%" ></div>

</div>
