<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">{{selectedStatus}} </h4>
        <h4> Count = {{rangeSize}}</h4>
    </div>


    <div data-ng-repeat="i in range">
        <div class="modal-body">
            <a ui-sref="profile" class="pull-left">
                <img alt="image" class="img-circle" src="img/{{displayResults[i].Username | getName:'@':0}}.jpg"
                                                        width="50" height="50">
            </a>
            <strong>{{displayResults[i].Candidate_ID}} - {{displayResults[i].Requirement_ID}} - {{displayResults[i].Name}} -  {{displayResults[i].Contact_Number}} </strong>
            <div class="well">
                {{displayResults[i].Interaction_Comments}}
            </div>

            <small class="text-muted">{{displayResults[i].Timestamp | formatGoogleDate}}</small><br>
            <small class="text-muted">{{displayResults[i].Time_Spent }} Mins</small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="cancel()">Close</button>

    </div>



</div>
