<div class="wrapper wrapper-content animated fadeInRight" ng-controller="RequirementSummaryCtrl"
     ng-init="initRequirementSummary()">
    <div class="row">
        <div class="col-lg-9">
            <div class="text-center m-t-lg">
                <h1>
                    Requirement Dashboard
                </h1>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-7">
                                        <div class="form-group"><label class="col-sm-3 control-label">Requirement ID</label>
                                <div class="col-sm-1">
                                    <select chosen id="requirementID" class="chosen-select" style="width:170px;"
                                            tabindex="1" ng-model="requirement"
                                            ng-options="requirement.Requirement_ID for requirement in masterList">
                                   <!-- <option>All</option>
                                    <option>INRC</option>
                                    <option>INRC-PUNE-CCO-JNR-CSE</option>
                                    <option>INRC-PUNE-CCO-SNR-CSE</option>
                                    <option>INRC-QA-JNR-PE</option>
                                    <option> INRC-TL-JNR-PE</option>
                                    <option>INRC-TR-JNR-PE</option>
                                    <option>HDFC-SALES-JNR-SO</option>
                                    <option>KENT-QA-JNR-TSTR</option>
                                    <option>KENT-IT-JNR-JAVA</option>
                                    <option>KENT-IT-JNR-DEVOPS</option>
                                    <option>AVD-UI-JNR-DEV</option>
                                    <option>RC-DOTNET-TRN-DEV</option>
                                    <option>RC-DOTNET-JNR-DEV</option>
                                    <option>RC-DOTNET-SNR-DEV</option>
                                    <option>RC-FRONTEND-JNR-DEV</option>
                                    <option>RC-TEST-JNR-DEV</option>
                                    <option>SBIN-RECR-TRN-TS</option>
                                    <option>SBIN-RECR-JNR-TS</option>
                                    <option>SBIN-RECR-SNR-TS</option>
                                    <option>SBIN-IT-JNR-DEV</option>
                                    <option>SBIN-IT-JNR-TRNR</option>
                                    <option>SBIN-DESN-JNR-INTR</option>
                                    <option>SUBHANU-INTERNAL</option>
                                    <option>New-Req</option>-->
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group" id="data_5">
                                <div class="dropdown" dropdown><label class="col-sm-5">
                                    <a class="dropdown-toggle btn btn-primary btn-sm" dropdown-toggle>
                                        Select range
                                    </a></label>
                            <span>
                                From date: {{(a|date)}} <br>
                                To Date:   {{(b|date)}}
                            </span>

                                    <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                                        <div date-range start="a" end="b"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="form-group"><label class="col-sm-5 control-label">Talent Specialist</label>
                                <div class="col-sm-2">
                                    <select name="user" id="userID" ng-model="talentSpecialist">
                                        <option value="All">All</option>
                                        <option value="bhanu">Bhanu</option>
                                        <option value="bhoopalan">Bhoopalan</option>
                                        <option value="reshma.hebbar">Reshma Hebbar</option>
                                        <option value="vidyashree.naik">Vidyashree Naik</option>
                                        <option value="shubhasree.n">Subhasree Narasimhan</option>
                                        <option value="chaitra.prashanth">Chaithra Prashanth</option>
                                        <option value="harshitha.j">Harshita Jagadesh </option>

                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-6 form-group">
                                <div class="radio"><label> <input icheck type="radio" name="docsOnly"   value="Docs_Included" ng-model="docsOnly"> Docs Included</label></div>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2"><button type="button" class="btn btn-w-m btn-primary" ng-click="getRequirementSummary()">Get Requirement Summary</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" ng-show="requirementSummaryTable">
        <div class="col-lg-6">
            <div class="ibox-content">
                <h3>Requirement Capture ({{activitySummaryCount.Requirement_Capture.Time_Spent}} Mins)</h3>
                <ul class="todo-list m-t" ng-repeat="document in documents">
                    <li ng-show="document.RC_DocType != null">
                        <span class="m-l-xs">{{document.RC_DocType}}</span>
                        <small class="label label-primary"><i class="fa fa-file-text-o"></i>
                            {{document.Activity_Type}}
                        </small>
                        <small class="label label-primary"><i class="fa fa-clock-o"></i>
                            {{document.Time_Spent}} mins
                        </small>
                        <img alt="image" class="img-circle"
                             src="img/{{document.Username | split:'@':0}}.jpg" height="30" width="30"/>
                        <a href="{{document.Doc_URL}}" ng-show="document.Doc_URL != null"> <img alt="image"
                                                                                                class="img-circle"
                                                                                                src="img/resume.jpg"
                                                                                                height="30"
                                                                                                width="30"/></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox-content">
                <h3>Execution Planning ({{activitySummaryCount.Execution_Planning.Time_Spent}} Mins)</h3>
                <ul class="todo-list m-t" ng-repeat="document in documents">
                    <li ng-show="document.EP_DocType != null">
                        <span class="m-l-xs">{{document.EP_DocType}}</span>
                        <small class="label label-primary"><i class="fa fa-file-text-o"></i>
                            {{document.Activity_Type}}
                        </small>
                        <small class="label label-primary"><i class="fa fa-clock-o"></i>
                            {{document.Time_Spent}} mins
                        </small>
                        <img alt="image" class="img-circle"
                             src="img/{{document.Username | split:'@':0}}.jpg" height="30" width="30"/>
                        <a href="{{document.Doc_URL}}" ng-show="document.Doc_URL != null"> <img alt="image"
                                                                                                class="img-circle"
                                                                                                src="img/resume.jpg"
                                                                                                height="30"
                                                                                                width="30"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" ng-show="requirementSummaryTable">
        <div class="col-lg-6">
            <div class="ibox-content">
                <h3>Manage Posting ({{activitySummaryCount.Manage_Posting.Time_Spent}} Mins)</h3>
                <ul class="todo-list m-t" ng-repeat="document in documents">
                    <li ng-show="document.MP_DocType != null">
                        <span class="m-l-xs">{{document.MP_DocType}}</span>
                        <small class="label label-primary"><i class="fa fa-file-text-o"></i>
                            {{document.Activity_Type}}
                        </small>
                        <small class="label label-primary"><i class="fa fa-clock-o"></i> {{document.Time_Spent}}
                            mins
                        </small>
                        <img alt="image" class="img-circle" src="img/{{document.Username | split:'@':0}}.jpg"
                             height="30" width="30"/>
                        <a href="{{document.Doc_URL}}" ng-show="document.Doc_URL != null"> <img alt="image"
                                                                                                class="img-circle"
                                                                                                src="img/resume.jpg"
                                                                                                height="30"
                                                                                                width="30"/></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox-content">
                <h3>Create Workaids ({{activitySummaryCount.Create_Workaids.Time_Spent}} Mins)</h3>
                <ul class="todo-list m-t" ng-repeat="document in documents">
                    <li ng-show="document.CW_DocType != null">
                        <span class="m-l-xs">{{document.CW_DocType}}</span>
                        <small class="label label-primary"><i class="fa fa-file-text-o"></i>
                            {{document.Activity_Type}}
                        </small>
                        <small class="label label-primary"><i class="fa fa-clock-o"></i> {{document.Time_Spent}}
                            mins
                        </small>
                        <img alt="image" class="img-circle" src="img/{{document.Username | split:'@':0}}.jpg"
                             height="30" width="30"/>
                        <a href="{{document.Doc_URL}}" ng-show="document.Doc_URL != null"> <img alt="image"
                                                                                                class="img-circle"
                                                                                                src="img/resume.jpg"
                                                                                                height="30"
                                                                                                width="30"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" ng-show="requirementSummaryTable">
        <div class="col-lg-12">
            <div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Requirement Details</label>
                        </td>
                        <td>
                            Client:  {{requirement.Client}}
                        </td>
                        <td>
                            Req Open Date:  {{requirement.Open_Date |formatDate:'dd-MMM-yyyy'| date:'dd-MMM-yyyy'}}
                        </td>
                        <td>
                            No of Positions
                            <button type="button" class="btn btn-success m-r-sm">
                                {{requirement.Positions}}
                            </button>
                        </td>
                        <td>
                            Role
                            {{requirement.Role}}
                        </td>
                        <td>
                            {{requirement.Status}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Identify Sources</label>
                        </td>
                        <td>
                                {{activitySummaryCount.Identify_Sources.Time_Spent}} Mins
                        </td>
                        <td>
                            Job Boards Identified
                            <button type="button" class="btn btn-default m-r-sm">
                                {{activitySummaryCount.Identify_Sources.Total_Job_Boards_Posted}}
                            </button>
                        </td>
                        <td>
                            <a href="{{activitySummaryCount.Identify_Sources.Job_Boards_List_URL}}"
                               ng-show="activitySummaryCount.Identify_Sources.Job_Boards_List_URL != ''">
                                <img alt="image"
                                     class="img-circle"
                                     src="img/resume.jpg"
                                     height="30"
                                     width="30"/></a>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Publish Posting</label>
                        </td>
                        <td>
                            {{activitySummaryCount.Publish_Posting.Time_Spent}} Mins
                        </td>
                        <td>
                            Job Boards Published
                            <button type="button" class="btn btn-default m-r-sm">
                                {{activitySummaryCount.Publish_Posting.Num_Of_Job_Boards_Published}}
                            </button>
                        </td>
                        <td>
                            {{activitySummaryCount.Publish_Posting.Name_Job_Boards_Published}}
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Build Pool (Subscribed)</label>
                        </td>
                        <td>
                            {{activitySummaryCount.Build_Pool.Time_Spent}} Mins
                        </td>
                        <td>
                            Pool size
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Build_Pool.Total_Pool_Size}}
                            </button>
                        </td>
                        <td>
                            Pool from Job Boards:
                            {{activitySummaryCount.Build_Pool.Job_Boards_From}}
                        </td>
                        <td>
                            Pool size split:
                            {{activitySummaryCount.Build_Pool.Pool_Size}}
                        </td>
                        <td>
                            Pool Name:
                            {{activitySummaryCount.Build_Pool.Pool_Name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Build Pool (UnSubscribed)</label>
                        </td>
                        <td>
                            {{activitySummaryCount.Build_Pool_Unsubscribed.Time_Spent}} Mins
                        </td>
                        <td>
                            Call References
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Build_Pool_Unsubscribed.Total_Call_References}}
                            </button>
                            Mail References
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Build_Pool_Unsubscribed.Total_Direct_Mail_References}}
                            </button>
                        </td>
                        <td>
                            Messages Received:
                            {{activitySummaryCount.Build_Pool_Unsubscribed.Total_Messages_Received}}
                            Whatsapp Received:
                            {{activitySummaryCount.Build_Pool_Unsubscribed.Total_Whatsapp_Received}}
                        </td>
                        <td>
                            Mail Responses Received:
                            {{activitySummaryCount.Build_Pool_Unsubscribed.Total_Mail_Responses_Received}}
                            Automatch:
                            {{activitySummaryCount.Build_Pool_Unsubscribed.Total_Automatch}}
                            Internal DB Pool:
                            {{activitySummaryCount.Build_Pool_Unsubscribed.Total_Internal_DB}}

                        </td>
                        <td>
                            Missed Calls:
                            {{activitySummaryCount.Build_Pool_Unsubscribed.Total_Missed_Calls}}
                            Received Calls:
                            {{activitySummaryCount.Build_Pool_Unsubscribed.Total_Received_Calls}}
                            Needs Subhanu Followup:
                            {{activitySummaryCount.Build_Pool_Unsubscribed.Total_Needs_Subhanu_Followup}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Candidate Reach Out</label>
                        </td>
                        <td>
                            {{activitySummaryCount.Candidate_Reach_Out.Time_Spent}} Mins
                        </td>
                        <td>
                            <img alt="image" class="img-square" src="img/target_mail.jpg" height="50" width="100"/>
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Candidate_Reach_Out.Total_Num_Of_Target_Mails}}
                            </button>

                        </td>
                        <td>
                            <img alt="image" class="img-square" src="img/direct_mail.jpg" height="50" width="100"/>
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Candidate_Reach_Out.Total_Num_Of_Direct_Mails}}
                            </button>
                            <img alt="image" class="img-square" src="img/direct-mail-id.jpg" height="50" width="50"/>
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Candidate_Reach_Out.Total_Num_Of_Direct_Mails_ID}}
                            </button>
                        </td>
                        <td>
                            <img alt="image" class="img-square" src="img/sms.jpg" height="50" width="50"/>
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Candidate_Reach_Out.Total_Num_Of_Sms_sent}}
                            </button>
                        </td>
                        <td>
                            <img alt="image" class="img-square" src="img/whatspp.jpg" height="50" width="50"/>
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Candidate_Reach_Out.Total_Num_Of_Whatsapp_sent}}
                            </button>
                            <img alt="image" class="img-square" src="img/linkedin.png" height="50" width="50"/>
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Candidate_Reach_Out.Total_Num_Of_linkedin_sent}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Candidate Assessment</label>
                        </td>
                        <td>

                        </td>
                        <td>
                            <img alt="image" class="img-square" src="img/recvd_call.jpg" height="50" width="100"/>
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Candidate_Reach_Out.Total_Num_Of_Recvd_Calls}}
                            </button>

                        </td>
                        <td>
                            <img alt="image" class="img-square" src="img/reference.jpg" height="50" width="100"/>
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Candidate_Reach_Out.Total_Num_Of_References}}
                            </button>
                        </td>
                        <td>
                            <img alt="image" class="img-square" src="img/cold_call.jpg" height="50" width="50"/>
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Candidate_Reach_Out.Total_Num_Of_Cold_calls}}
                            </button>
                        </td>
                        <td>
                            <img alt="image" class="img-square" src="img/facebook.jpg" height="50" width="50"/>
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Candidate_Reach_Out.Total_Num_Of_FB_Added}}
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Resume Shortlisting</label>
                        </td>
                        <td>
                            {{activitySummaryCount.Resume_Shortlisting.Time_Spent}} Mins
                        </td>
                        <td>
                            Total Resumes Assessed
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Resume_Shortlisting.Total_Num_Of_Resumes_Assessed}}
                            </button>
                        </td>
                        <td>
                            Resumes Shortlisted
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Resume_Shortlisting.Total_Num_Of_Resumes_Shortlisted}}
                            </button>
                        </td>
                        <td>
                            Resumes Pending
                            <button type="button" class="btn btn-warning m-r-sm">
                                {{activitySummaryCount.Resume_Shortlisting.Total_Num_Of_Resumes_Assessed - activitySummaryCount.Resume_Shortlisting.Total_Num_Of_Resumes_Shortlisted}}
                            </button>

                        </td>
                        <td>
                            Pool Name
                                {{activitySummaryCount.Resume_Shortlisting.Pool_Name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Response Processing</label>
                        </td>
                        <td>
                            {{activitySummaryCount.Response_Processing.Time_Spent}} Mins
                        </td>
                        <td>
                            Responses Received
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Response_Processing.Total_Num_Of_Responses_Processed + activitySummaryCount.Response_Processing.Total_Num_Of_Responses_Pending}}
                            </button>
                        </td>
                        <td>
                            Responses Processed
                            <button type="button" class="btn btn-info m-r-sm">
                                {{activitySummaryCount.Response_Processing.Total_Num_Of_Responses_Processed}}
                            </button>
                        </td>
                        <td>
                            Responses Pending
                            <button type="button" class="btn btn-warning m-r-sm">
                                {{activitySummaryCount.Response_Processing.Total_Num_Of_Responses_Pending}}
                            </button>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">First Assessment</label>
                        </td>
                        <td>
                            {{candidateSummary.First_Assessment_Passed_Internal.Effort +
                            candidateSummary.First_Assessment_Failed_Internal.Effort +
                            candidateSummary.First_Assessment_OnHold_Internal.Effort +
                            candidateSummary.First_Assessment_PassedInternal_Candidate_Dropped.Effort
                            }} Mins
                        </td>
                        <td>
                            Completed
                            <button type="button" class="btn btn-default m-r-sm">
                                {{activitySummaryCount.First_Assessment.Total_Num_Of_First_Assessments_Done}}
                            </button>
                          </td>
                        <td>
                            Passed
                            <button type="button" class="btn btn-success m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.First_Assessment_Passed_Internal.InteractionStatus)">
                                {{candidateSummary.First_Assessment_Passed_Internal.Count}}
                            </button>
                        </td>
                        <td>
                            On Hold
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.First_Assessment_OnHold_Internal.InteractionStatus)">
                                {{candidateSummary.First_Assessment_OnHold_Internal.Count}}
                            </button>
                        </td>
                        <td>
                            Failed
                            <button type="button" class="btn btn-danger m-r-sm" >
                                {{activitySummaryCount.First_Assessment.Total_Num_Of_First_Assessments_Failed}}
                            </button>
                            Dropped
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.First_Assessment_PassedInternal_Candidate_Dropped.InteractionStatus)">
                                {{candidateSummary.First_Assessment_PassedInternal_Candidate_Dropped.Count}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Second Assessment</label>
                        </td>
                        <td>
                            {{candidateSummary.Second_Assessment_Passed_Internal.Effort +
                            candidateSummary.Second_Assessment_Failed_Internal.Effort +
                            candidateSummary.Second_Assessment_OnHold_Internal.Effort +
                            candidateSummary.Second_Assessment_PassedInternal_Candidate_Dropped.Effort
                            }}
                            Mins
                        </td>
                        <td>
                            Completed
                            <button type="button" class="btn btn-default m-r-sm">
                                {{ (candidateSummary.Second_Assessment_Passed_Internal.Count +
                                candidateSummary.Second_Assessment_Failed_Internal.Count +
                                candidateSummary.Second_Assessment_OnHold_Internal.Count +
                                candidateSummary.Second_Assessment_PassedInternal_Candidate_Dropped.Count)
                                }}
                            </button>
                        </td>
                        <td>
                            Passed
                            <button type="button" class="btn btn-success m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Second_Assessment_Passed_Internal.InteractionStatus)">
                                {{candidateSummary.Second_Assessment_Passed_Internal.Count}}
                            </button>
                        </td>
                        <td>
                            On Hold
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Second_Assessment_OnHold_Internal.InteractionStatus)">
                                {{candidateSummary.Second_Assessment_OnHold_Internal.Count}}
                            </button>
                            Pending
                            <button type="button" class="btn btn-warning m-r-sm" ng-click="openInteractionDetails('lg','Second_Assessment_Pending')">
                                {{candidateSummary.First_Assessment_Passed_Internal.Count - (candidateSummary.Second_Assessment_Passed_Internal.Count +
                                candidateSummary.Second_Assessment_Failed_Internal.Count +
                                candidateSummary.Second_Assessment_OnHold_Internal.Count +
                                candidateSummary.Second_Assessment_PassedInternal_Candidate_Dropped.Count)
                                }}
                            </button>
                        </td>
                        <td>
                            Failed
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Second_Assessment_Failed_Internal.InteractionStatus)">
                                {{candidateSummary.Second_Assessment_Failed_Internal.Count}}
                            </button>
                            Dropped
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Second_Assessment_PassedInternal_Candidate_Dropped.InteractionStatus)">
                                {{candidateSummary.Second_Assessment_PassedInternal_Candidate_Dropped.Count }}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Third Assessment</label>
                        </td>
                        <td>
                            {{candidateSummary.Third_Assessment_Passed_Internal.Effort +
                            candidateSummary.Third_Assessment_Failed_Internal.Effort +
                            candidateSummary.Third_Assessment_onHold_Internal.Effort +
                            candidateSummary.Third_Assessment_PassedInternal_Candidate_Dropped.Effort
                            }}
                             Mins
                        </td>
                        <td>
                           Completed
                            <button type="button" class="btn btn-default m-r-sm">
                                {{candidateSummary.Third_Assessment_Passed_Internal.Count +
                                candidateSummary.Third_Assessment_Failed_Internal.Count +
                                candidateSummary.Third_Assessment_onHold_Internal.Count +
                                candidateSummary.Third_Assessment_PassedInternal_Candidate_Dropped.Count
                                }}
                            </button>
                        </td>
                        <td>
                            Passed
                            <button type="button" class="btn btn-success m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Third_Assessment_Passed_Internal.InteractionStatus)">
                                {{candidateSummary.Third_Assessment_Passed_Internal.Count}}
                            </button>
                        </td>
                        <td>
                            On Hold
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Third_Assessment_onHold_Internal.InteractionStatus)">
                                {{candidateSummary.Third_Assessment_onHold_Internal.Count}}
                            </button>
                            Pending
                            <button type="button" class="btn btn-warning m-r-sm" ng-click="openInteractionDetails('lg','Third_Assessment_Pending')">
                                {{candidateSummary.Second_Assessment_Passed_Internal.Count - (candidateSummary.Third_Assessment_Passed_Internal.Count +
                                candidateSummary.Third_Assessment_Failed_Internal.Count +
                                candidateSummary.Third_Assessment_onHold_Internal.Count +
                                candidateSummary.Third_Assessment_PassedInternal_Candidate_Dropped.Count)
                                }}
                            </button>
                        </td>
                        <td>
                            Failed
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Third_Assessment_Failed_Internal.InteractionStatus)">
                                {{candidateSummary.Third_Assessment_Failed_Internal.Count}}
                            </button>
                            Dropped
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Third_Assessment_PassedInternal_Candidate_Dropped.InteractionStatus)">
                                {{candidateSummary.Third_Assessment_PassedInternal_Candidate_Dropped.Count}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">CV Status</label>
                        </td>
                        <td>
                            {{candidateSummary.Internally_Selected__CV_to_be_Created.Effort +
                            candidateSummary.Subhanu_CV_Created.Effort +
                            candidateSummary.CV_Sent_to_Internal_Contact.Effort +
                            candidateSummary.CV_Sent_to_Client.Effort
                            }}
                            Mins
                        </td>
                        <td>
                            Internally Selected
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Internally_Selected__CV_to_be_Created.InteractionStatus)">
                                {{candidateSummary.Internally_Selected__CV_to_be_Created.Count}}
                            </button>
                            <br>
                            Pending_IS_Non_CSE
                            <button type="button" class="btn btn-warning m-r-sm" ng-click="openInteractionDetails('lg','Internally_Selected_Pending_Non_CSE')">
                                {{candidateSummary.Third_Assessment_Passed_Internal.Count - candidateSummary.Internally_Selected__CV_to_be_Created.Count}}
                            </button>
                            <br>
                            Pending_IS_CSE
                            <button type="button" class="btn btn-warning m-r-sm" ng-click="openInteractionDetails('lg','Internally_Selected_Pending_CSE')">
                                {{candidateSummary.Second_Assessment_Passed_Internal.Count - candidateSummary.Internally_Selected__CV_to_be_Created.Count}}
                            </button>
                        </td>
                        <td>
                            CV Created
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Subhanu_CV_Created.InteractionStatus)">
                                {{candidateSummary.Subhanu_CV_Created.Count}}
                            </button>
                        </td>
                        <td>
                            CV Sent to Internal
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.CV_Sent_to_Internal_Contact.InteractionStatus)">
                                {{candidateSummary.CV_Sent_to_Internal_Contact.Count}}
                            </button>
                            <br>
                            Pending
                            <button type="button" class="btn btn-warning m-r-sm" ng-click="openInteractionDetails('lg','CV_Send_Pending')">
                                {{candidateSummary.Internally_Selected__CV_to_be_Created.Count - candidateSummary.CV_Sent_to_Client.Count}}
                            </button>
                        </td>
                        <td>
                            CV Sent to Client
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.CV_Sent_to_Client.InteractionStatus)">
                                {{candidateSummary.CV_Sent_to_Client.Count}}
                            </button>
                            <br>
                            Active CV
                            <button type="button" class="btn btn-warning m-r-sm"  ng-click="openInteractionDetails('lg', 'Active_CV')">
                                {{candidateSummary.CV_Sent_to_Client.Count - (candidateSummary.Client_Interview_Failed.Count+
                                candidateSummary.Offer_Accepted_Not_Joining.Count+
                                candidateSummary.Offer_Accepted.Count+
                                candidateSummary.Revised_Offer_Accepted.Count+
                                candidateSummary.Offer_Rejected.Count+
                                candidateSummary.CV_Rejected_by_Client.Count +
                                candidateSummary.CV_Sent_To_Client_Candidate_Dropped.Count +
                                candidateSummary.Revised_Offer_Rejected.Count)}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Rejection/Failed</label>
                        </td>
                        <td>
                            {{candidateSummary.CV_Rejected_by_Client.Effort +
                            candidateSummary.Client_Interview_Failed.Effort +
                            candidateSummary.CV_Sent_To_Client_Candidate_Dropped.Effort +
                            candidateSummary.Offer_Rejected.Effort +
                            candidateSummary.Revised_Offer_Rejected.Effort +
                            candidateSummary.Offer_Accepted_Not_Joining.Effort
                            }}
                            Mins
                        </td>
                        <td>
                            CV Sent Candidate Dropped
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.CV_Sent_To_Client_Candidate_Dropped.InteractionStatus)">
                                {{candidateSummary.CV_Sent_To_Client_Candidate_Dropped.Count}}
                            </button>
                            <br>
                            CV Rejected
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.CV_Rejected_by_Client.InteractionStatus)">
                                {{candidateSummary.CV_Rejected_by_Client.Count}}
                            </button>
                        </td>
                        <td>
                            Interview Failed
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Client_Interview_Failed.InteractionStatus)">
                                {{candidateSummary.Client_Interview_Failed.Count}}
                            </button>
                        </td>
                        <td>
                            Offer Rejected
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Offer_Rejected.InteractionStatus)">
                                {{candidateSummary.Offer_Rejected.Count}}
                            </button>
                            Revised Offer Rejected
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Revised_Offer_Rejected.InteractionStatus)">
                                {{candidateSummary.Revised_Offer_Rejected.Count}}
                            </button>
                        </td>
                        <td>
                            Offer Accepted Not Joining
                            <button type="button" class="btn btn-danger m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Offer_Accepted_Not_Joining.InteractionStatus)">
                                {{candidateSummary.Offer_Accepted_Not_Joining.Count}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Candidate Interaction</label>
                        </td>
                        <td>
                            {{candidateSummary.Offer_Accepted.Effort +
                            candidateSummary.Revised_Offer_Accepted.Effort +
                            candidateSummary.Joined.Effort
                            }}
                            Mins
                        </td>
                        <td>
                            No of Open Positions
                            <button type="button" class="btn btn-success m-r-sm">
                                {{requirement.Positions}}
                            </button>
                            <br>
                            Offer Accepted
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Offer_Accepted.InteractionStatus)">
                                {{candidateSummary.Offer_Accepted.Count}}
                            </button>
                        </td>
                        <td>
                            Revised Offer Accepted
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Revised_Offer_Accepted.InteractionStatus)">
                                {{candidateSummary.Revised_Offer_Accepted.Count}}
                            </button>
                        </td>
                        <td>
                            Joined
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Joined.InteractionStatus)">
                                {{candidateSummary.Joined.Count}}</button>


                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Interview/ Pledge/ Transcripts</label>
                        </td>
                        <td>
                            {{candidateSummary.Client_Interview_Scheduled.Effort +
                            candidateSummary.Client_Feedback_Awaited_Interview_Completed.Effort +
                            candidateSummary.Transcript_Collected.Effort +
                            candidateSummary.Pledge_Taken.Effort
                            }}
                            Mins
                        </td>
                        <td>
                            Client Interview Scheduled
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Client_Interview_Scheduled.InteractionStatus)">
                                {{candidateSummary.Client_Interview_Scheduled.Count}}
                            </button>
                            <br>
                            Candidate No Show
                            <button type="button" class="btn btn-warning m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Candidate_Interview_No_Show.InteractionStatus)">
                                {{candidateSummary.Candidate_Interview_No_Show.Count}}
                            </button>

                        </td>
                        <td>
                            Client Feedback Awaited Interview Completed
                            <button type="button" class="btn btn-warning m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Client_Feedback_Awaited_Interview_Completed.InteractionStatus)">
                                {{candidateSummary.Client_Feedback_Awaited_Interview_Completed.Count}}
                            </button>
                            <br>
                            Client Interview On Hold
                            <button type="button" class="btn btn-warning m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Client_Interview_On_Hold.InteractionStatus)">
                                {{candidateSummary.Client_Interview_On_Hold.Count}}
                            </button>
                            <br>
                            Client to Provide Interview Slot
                            <button type="button" class="btn btn-warning m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Client_to_Provide_Interview_Slot.InteractionStatus)">
                                {{candidateSummary.Client_to_Provide_Interview_Slot.Count}}
                            </button>
                        </td>
                        <td>
                            Transcript Collected
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Transcript_Collected.InteractionStatus)">
                                {{candidateSummary.Transcript_Collected.Count}}</button>

                        </td>
                        <td>
                            Pledge Taken
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Pledge_Taken.InteractionStatus)">
                                {{candidateSummary.Pledge_Taken.Count}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-2 control-label">Reference Check/ Misc</label>
                        </td>
                        <td>
                            {{candidateSummary.Interaction_Update_No_Status_Change.Effort +
                            candidateSummary.Reference_Check_Completed.Effort +
                            candidateSummary.Transcript_Collected.Effort +
                            candidateSummary.Leadership_Meeting_Completed.Effort
                            }}
                            Mins
                        </td>
                        <td>
                            Interaction_Update_No_Status_Change
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Interaction_Update_No_Status_Change.InteractionStatus)">
                                {{candidateSummary.Interaction_Update_No_Status_Change.Count}}
                            </button>
                        </td>
                        <td>
                            Reference_Check_Completed
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Reference_Check_Completed.InteractionStatus)">
                                {{candidateSummary.Reference_Check_Completed.Count}}
                            </button>
                        </td>
                        <td>
                            Leadership_Meeting_Completed
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Leadership_Meeting_Completed.InteractionStatus)">
                                {{candidateSummary.Leadership_Meeting_Completed.Count}}</button>

                        </td>
                        <td>
                            Needs_Follow_Up
                            <button type="button" class="btn btn-primary m-r-sm" ng-click="openInteractionDetails('lg', candidateSummary.Needs_Follow_Up.InteractionStatus)">
                                {{candidateSummary.Needs_Follow_Up.Count}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <label class="col-sm-2 control-label">Total Expended Effort - {{(activitySummaryCount.Requirement_Summary.Total_Expended_Effort +
                    candidateInteractionEffort)/60 }} Hrs</label>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>