<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CandidateInteractionCtrl" ng-init="loadInteractionDetails()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                 <header>
                    <h1 class="text-center">Candidate Interaction Details</h1>

                 </header>

                    <div class="ibox-content">

                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="form-group"><label class="col-sm-4">Candidate ID</label><input  type="text" disabled></div>
                                            <div class="form-group"><label class="col-sm-4">Candidate Status</label><input  type="text" disabled> </div>
                                            <div class="form-group"><label class="col-sm-4">Requirement ID</label><input  type="text" ng-model="candidateInteraction.Requirement_ID" disabled> </div>

                                            <div class="form-group"><label class="col-sm-4">Candidate Details Update</label><input  type="text" disabled> </div>
                                        <div class="col-sm-6"><button type="submit" class="btn btn-w-m btn-primary">Continue</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group"><label class="col-sm-4">Interaction Date</label><input  type="text" disabled> </div>
                                        <div class="form-group">
                                            <label  class="control-label col-sm-6">Interaction Comments</label>
                                            <textarea class="control-label col-sm-8" cols="20" rows="6"></textarea>
                                        </div>
                                    </div>
                                </div>

                        <br>
                     </div>
            </div>
        </div>
    </div>
</div>



















