<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CandidateMasterCtrl" ng-init="loadCandidateMaster()">
{{candidateMasterLoadingStatus}}
    <div class="row" ng-show="activateCandidateMasterTable">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Candidate  Master</strong></h5>

                <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Candidate ID</th>
                            <th>Requirement ID</th>
                            <th>Name</th>
                            <th>Contact_Number</th>
                            <th>Alternate_Number</th>
                            <th>Email ID</th>
                            <th>Experience Yrs</th>
                            <th>Register Date</th>
                            <th>Added By</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="candidate in candidates">
                            <td><a ui-sref="lookup.candidate_details" ng-click="edit(candidates[$index])" >{{ candidate.Candidate_ID }}</a></td>
                            <td>{{ candidate.Requirement_ID }}</td>
                            <td>{{ candidate.Name}} <a href="{{candidate.Resume_Link}}" ng-show="candidate.Resume_Link != null && candidate.Resume_Link != ' ' "> <img alt="image" class="img-circle" src="img/resume.jpg" height="20" width="20" /></a> <a href="{{candidate.Subhanu_Link}}" ng-show="candidate.Subhanu_Link != null && candidate.Subhanu_Link != ' ' "> <img alt="image" class="img-circle" src="img/cv_round.jpg" height="20" width="20" /></a></td>
                            <td>{{ candidate.Contact_Number }}</td>
                            <td>{{ candidate.Alternate_Number}}</td>
                            <td>{{ candidate.Email_ID}}</td>
                            <td>{{ candidate.Experience}}</td>
                            <td>{{ candidate.Timestamp| formatGoogleDate}}</td>
                            <td>{{candidate.UserName | split:'@':0}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


