<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CandidateInteractionCtrl" ng-init="loadInteractions()">
    {{candidateInteractionLoadingStatus}}
    <div class="row" ng-show="activateCandidateInteractionTable">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Candidate Interaction Master</strong></h5>

                <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Req ID</th>
                            <th>Candidate ID</th>
                            <th>Name</th>
                            <th>Number</th>
                            <th>Interaction Date</th>
                            <th>Status</th>
                            <th>Interaction Comments</th>
                            <th>Added By</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="candidateInteraction in candidateInteractions">
                            <td>{{ candidateInteraction.Requirement_ID }}</td>
                            <td>{{ candidateInteraction.Candidate_ID }}</td>
                            <td><a ui-sref="lookup.candidates_interaction_details" ng-click="edit(candidateInteraction)" >{{candidateInteraction.Name}}</a></td>
<!--                            <td>{{ candidateInteraction.Name}}</td>-->
                            <td>{{ candidateInteraction.Contact_Number }}</td>
                            <td>{{candidateInteraction.Interaction_Date |formatDate:'dd-MMM-yyyy'| date:'dd-MMM-yyyy'}}</td>
                            <td>{{ candidateInteraction.Candidate_Status}}</td>
                            <td>{{ candidateInteraction.Interaction_Comments}}</td>
                            <td>{{candidateInteraction.Username | split:'@':0}}</td>
                            <td>{{ candidateInteraction.Timestamp| formatGoogleDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>