<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CandidateMasterCtrl" ng-init="loadDetails()"
     xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Candidate Details</h2>
                </div>
                <div class="ibox-content">

                    <div class="panel blank-panel ui-tab">
                        <div class="panel-body">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <h5>Subhanu Details</h5>
                                    </tab-heading>
                                    <form role="form">
                                        <div class="row">

                                            <div class="col-lg-4">
                                                <div class="form-group"><label class="col-sm-5 font-noraml">Candidate ID</label>
                                                    <input type="text" ng-model="candidateDetails.Candidate_ID"
                                                           disabled></div>
                                                <div class="form-group"><label class="col-sm-5 font-noraml">Requirement ID
                                                </label> <input type="text"
                                                                ng-model="candidateDetails.Requirement_ID"
                                                                disabled></div>
                                                <div class="form-group"><label class="col-sm-5 font-noraml">Added By</label><input
                                                        type="text" ng-model="candidateDetails.UserName" disabled></div>
                                                <div class="form-group"><label class="col-sm-5 font-noraml">Candidate is</label><input
                                                        type="text" ng-model="candidateDetails.Target_Requirement" disabled></div>
                                            </div>

                                            <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-5 font-noraml">Email subject  </label>
                                                           <!-- <label class="col-sm-7 font-noraml">-->{{candidateDetails.Requirement_ID}},{{candidateDetails.Candidate_ID}}</label></div><br>


                                                        <div class="form-group">
                                                            <label class="col-sm-8 font-noraml">Resume Sourced Date </label>
                                                           <!-- <label class="col-sm-8 font-noraml">-->{{candidateDetails.Resume_Source_Date |formatDate:'dd-MMM-yyyy'| date:'dd-MMM-yyyy'}}</label>
                                                        </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <div class="form-group"><a href="{{candidateDetails.Resume_Link}}">Resume</a></div>
                                                <div class="form-group"><a href="{{candidateDetails.Subhanu_Link}}">Subhanu CV</a></div>
                                            </div>
                                        </div>
                                    </form>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <h5>Personal</h5>
                                    </tab-heading>
                                    <form role="form">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group"><label class="col-sm-3 font-noraml">Name</label><input
                                                        type="text" ng-model="candidateDetails.Name"style="width:250px" disabled></div>
                                                <div class="form-group"><label class="col-sm-3 font-noraml"> Email_ID</label> <input
                                                        ng-model="candidateDetails.Email_ID" type="text" style="width:250px" disabled></div>

                                            </div>

                                            <div class="col-lg-6">

                                                <div class="form-group"><label class="col-sm-3 font-noraml">Current_Location</label><input
                                                        ng-model="candidateDetails.Current_Location" type="text" disabled></div>
                                                <div class="form-group"><label class="col-sm-3 font-noraml">
                                                    Contact_Number</label><input type="text"
                                                                                 ng-model="candidateDetails.Contact_Number"
                                                                                 disabled></div>

                                            </div>
                                        </div>
                                    </form>
                                </tab>


                                <tab>
                                    <tab-heading>
                                        <h5>Skills</h5>
                                    </tab-heading>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group"><label class="col-sm-5 font-noraml"> Qualification</label>
                                                <input ng-model="candidateDetails.Qualification" type="text" disabled>
                                            </div>
                                            <div class="form-group"><label class="col-sm-5 font-noraml ">
                                                Experience (Yrs)</label><input ng-model="candidateDetails.Experience"
                                                                               type="text" disabled></div>
                                        </div>

                                        <div class="col-lg-7">

                                            <div class="form-group"><label class="col-sm-4 font-noraml">
                                                Technology Skills:</label><input
                                                    ng-model="candidateDetails.Technology" type="text" style="width: 350px" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </tab>

                                <tab>
                                    <tab-heading>
                                        <h5>Job Details</h5>
                                    </tab-heading>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group"><label
                                                    class="col-sm-5 font-noraml">Current Salary(lakhs)</label><input
                                                    ng-model="candidateDetails.Current_Salary" type="text" disabled>
                                            </div>
                                            <div class="form-group"><label
                                                    class="col-sm-5 font-noraml">Expected Salary(lakhs)</label><input
                                                    ng-model="candidateDetails.Expected_Salary" type="text" disabled>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group"><label
                                                    class="col-sm-4 font-noraml">Time to Join (Days)</label><input
                                                    ng-model="candidateDetails.Time_To_Join" type="text" disabled></div>
                                            <div class="form-group"><label class="col-sm-4 font-noraml">Resignation
                                                Status</label><input ng-model="candidateDetails.Resignation_Status"
                                                                     type="text" disabled></div>
                                            <div class="form-group"><label class="col-sm-4 font-noraml">Current/Last_Company</label><input
                                                    ng-model="candidateDetails.Company" type="text" disabled></div>
                                        </div>
                                    </div>
                                </tab>


                                <tab>
                                    <tab-heading>
                                        <h5>Rating</h5>
                                    </tab-heading>
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group"><label
                                                    class="col-sm-4 font-noraml">Candidate_Rating</label><input
                                                    ng-model="candidateDetails.Candidate_Rating" type="text" disabled>
                                            </div>
                                        </div>
                                            <div class="col-lg-6">
                                                <div class="form-group"><label class="col-sm-4 font-noraml">Communication_Rating</label><input
                                                    ng-model="candidateDetails.Communication" type="text"
                                                    disabled></div>
                                            </div>
                                        </div>

                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





