<div class="wrapper wrapper-content animated fadeInRight" ng-controller="DailyMetricsMasterCtrl" ng-init="loadDailyMetrics()">
    {{dailyMetricsMasterLoadingStatus}}
    <div class="row" ng-show="activateDailyMetricsMasterTable">
        <div class="col-lg-18">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Daily Metrics Master</strong></h5>

                <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Requirement</th>
                            <th>WorkDate</th>
                            <th>Name</th>
                            <th>Responses Received</th>
                            <th>Responses Processed</th>
                            <th>Resumes Assessed</th>
                            <th>Responses Shortlisted</th>
                            <th>First Assessment</th>
                            <th>Second Assessment</th>
                            <th>Target Mails</th>
                            <th>Direct Mails</th>
                            <th>Cold Calls</th>
                            <th>Other Calls</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dailyMetric in dailyMetrics">
                            <td>{{ dailyMetric.Requirement_ID }}</td>
<!--                            <td><a ui-sref="lookup.daily_metrics_details" ng-click="edit(dailyMetric)" >{{dailyMetric.Work_Date | formatDate:'dd-MMM-yyyy'| date:'dd-MMM-yyyy''}}</td>-->
                            <td>{{dailyMetric.Work_Date |formatDate:'dd-MMM-yyyy'| date:'dd-MMM-yyyy'}}</td>
                            <td>{{dailyMetric.Username | split:'@':0}}</td>
                            <td>{{ dailyMetric.Responses_Received}}</td>
                            <td>{{ dailyMetric.Responses_Processed}}</td>
                            <td>{{ dailyMetric.Resumes_Assessed}}</td>
                            <td>{{ dailyMetric.Resumes_Shortlisted}}</td>
                            <td>{{ dailyMetric.First_Assessment}}</td>
                            <td>{{ dailyMetric.Second_Assesment}}</td>
                            <td>{{ dailyMetric.Targetted_Mails}}</td>
                            <td>{{ dailyMetric.Direct_Mails}}</td>
                            <td>{{ dailyMetric.Cold_Calls}}</td>
                            <td>{{ dailyMetric.Other_Calls}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 </div>