
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="DailyMetricsMasterCtrl" ng-init="loadDailyMetricsDetails()">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Daily Metrics Details</strong></h5>
                </div>
                <div ibox-tools></div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-lg-6">

                            <div class="form-group"><label class="col-sm-4 font-noraml">Name</label><input ng-model="dailyMetric.Name" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Username</label><input ng-model="dailyMetric.Username" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">WorkDate</label><input ng-model="dailyMetric.Work_Date" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Cold Calls</label><input ng-model="dailyMetric.Cold_Calls" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Other Calls</label><input ng-model="dailyMetric.Other_Calls" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Target Mails</label><input ng-model="dailyMetric.Targetted_Mails" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Direct Mails</label><input ng-model="dailyMetric.Direct_Mails" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">First Assessment</label><input ng-model="dailyMetric.First_Assessment" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Second Assessment</label><input ng-model="dailyMetric.Second_Assesment" type="text"  disabled></div>
                        </div>



                        <div class="col-lg-6">
                            <div class="form-group"><label class="col-md-4 font-noraml">Job Boards Posted</label><input ng-model="dailyMetric.Job_Boards_Posted" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Responses Received</label><input ng-model="dailyMetric.Responses_Received" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Responses Processed</label><input ng-model="dailyMetric.Responses_Processed" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Requirement ID</label><input ng-model="dailyMetric.Requirement_ID" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Docs Created</label><input ng-model="dailyMetric.Documents_Created" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Workaids Created</label><input ng-model="dailyMetric.Workaids_Created" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Resumes Assessed</label><input ng-model="dailyMetric.Resumes_Assessed" type="text"  disabled></div>
                            <div class="form-group"><label class="col-sm-4 font-noraml">Responses Shortlisted</label><input ng-model="dailyMetric.Resumes_Shortlisted" type="text"  disabled></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







