<div class="wrapper wrapper-content animated fadeInRight" ng-controller="RequirementMasterCtrl" ng-init="loadRequirements()">

    <div class="row" ng-show="requirementMasterTable">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Requirement Master</strong></h5>

                <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Client</th>
                            <th>Role</th>
                            <th>Requirement ID</th>
                            <th>Positions</th>
                            <th>Open_Date</th>
                            <th>Status</th>
                            <th>CV Required</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="openRequirement in openRequirements">
                            <td>{{ openRequirement.Client}}</td>
                            <td><a ui-sref="lookup.requirement_details" ng-click="edit(openRequirement)" >{{openRequirement.Role}}</a></td>
<!--                            <td>{{ openRequirement.Role}}</td>-->
                            <td>{{ openRequirement.Requirement_ID}}</td>
                            <td>{{ openRequirement.Positions}}</td>
<!--                            <td>{{openRequirement.Open_Date}}</td>-->
                            <td>{{openRequirement.Open_Date | formatDate:openRequirement.Requirement_ID| date:'dd-MMM-yyyy'}}</td>
                            <td>{{ openRequirement.Status}}</td>
                            <td>{{ openRequirement.CV_Required}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 </div>