<div class="wrapper wrapper-content animated fadeInRight" ng-controller="RequirementMasterCtrl" ng-init="loadRequirementDetails()">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Requirement Details</strong></h5>

                <div ibox-tools></div>
                </div>
                {{ openRequirement.Client}}
            </div>
        </div>
    </div>
 </div>