<div class="wrapper wrapper-content animated fadeInRight" ng-controller="FeedbackDetailsCtrl" ng-Init="loadFeedbackDetails()">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Feedback Details
                </h1>
            </div>
        </div>
    </div>
</div>