<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12" ng-show="!activateUserName">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                </h1>
                <small>
                    {{main.descriptionText}}
                </small>
            </div>
            <div class="ibox-content" ng-show="!activateUserName">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-6">
                            <div class="form-group"><label class="col-sm-3 control-label">Choose User</label>

                                <div class="col-sm-2">
                                    <select name="user" id="userID" ng-model="user">
                                        <option value="bhanu">Bhanu</option>
                                        <option value="bhoopalan">Bhoopalan</option>
                                        <option value="reshma.hebbar">Reshma Hebbar</option>
                                        <option value="vidyashree.naik">Vidyashree Naik</option>
                                        <option value="shubhasree.n">Subhasree Narasimhan</option>
                                        <option value="chaitra.prashanth">Chaithra Prashanth</option>
                                        <option value="harshitha.j">Harshita Jagadesh </option>
                                        </select>
                                </div>
                                </div>
                            </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-w-m btn-primary" ng-click="setUser()">Set User</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="row" ng-show="activateUserName">
        <div class="text-center m-t-lg">
            <h1>
                {{welcomeText}}
            </h1>
            <small>
                {{welcomeDescription}}
            </small>
        </div>
        <BR>
        <BR>

        <div class="gridStyle" ng-grid="ngOptions2"></div>
<!--        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Feedback</strong></h5>
                </div>
                <div class="ibox-content">
                    <div class="gridStyle" ng-grid="ngOptions2"></div>
                </div>
            </div>
        </div>-->
    </div>
</div>