<div class="wrapper wrapper-content animated fadeInRight" ng-controller="WorkDayMasterCtrl">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>WorkDay Master</strong></h5>

                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-7">
                            <div class="form-group" id="data_5">
                                <div class="dropdown" dropdown><label class="col-sm-5">
                                    <a class="dropdown-toggle btn btn-primary btn-sm" dropdown-toggle>
                                        Select range
                                    </a></label>
                            <span>
                                From date: {{(a|date)}} <br>
                                To Date:   {{(b|date)}}
                            </span>

                                    <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                                        <div date-range start="a" end="b"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                      <div class="col-lg-5">
                            <div class="col-sm-1"><button type="button" class="btn btn-w-m btn-primary" ng-click="getWorkdaySummary()">Get Workday Summary</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
    {{wordayMasterMasterLoadingStatus}}

    <div class="row" ng-show="activateworkdayMasterTable">
        <div class="col-lg-12">
            <div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            Selected Duration Days
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Duration_Days}}
                            </button>
                        </td>
                        <td>
                            Working Days
                            <button type="button" class="btn btn-success m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Working_Days}}
                            </button>
                            Worked Days
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Worked_Days}}
                            </button>
                        </td>
                        <td>
                            Weekly Off
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Weekly_Off}}
                            </button>
                        </td>
                        <td>
                            Holidays
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Holidays}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Duration Hours
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Duration_Hours}}
                            </button>
                            Expected Hours
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Expected_Hours}}
                            </button>
                        </td>
                        <td>
                            Logged Hours with out Break
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Effective_Hours}}
                            </button>
                        </td>
                        <td>
                            Logged Hours
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Worked_Hours}}
                            </button>
                        </td>
                        <td>
                            Break Hours
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Break_Hours}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Leave
                            <button type="button" class="btn btn-success m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Leaves}}
                            </button>
                        </td>
                        <td>
                            Not Worked Days
                            <button type="button" class="btn btn-danger m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Not_Worked_Days}}
                            </button>
                        </td>
                        <td>
                            Meeting Time
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Meeting_Time}}
                            </button>
                        </td>
                        <td>
                            Missed Punches
                            <button type="button" class="btn btn-danger m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Missed_Punches}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Training Time
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Training_Time}}
                            </button>
                        </td>
                        <td>
                            Reading Time
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Reading_Time}}
                            </button>
                        </td>
                        <td>
                            Sadhana Time
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Sadhana_Time}}
                            </button>
                        </td>
                        <td>
                            Client Visit Time
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Client_Visit_Time}}
                            </button>
                        </td>
                    </tr>
                    <tr ng-show="isFTE">
                        <td>
                            Late Days
                            <button type="button" class="btn btn-danger m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Late_Days}}
                            </button>
                        </td>
                        <td>
                            Late Hours
                            <button type="button" class="btn btn-danger m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Late_Hours}}
                            </button>
                        </td>
                        <td>
                            Overtime Days
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Overtime_Days}}
                            </button>
                        </td>
                        <td>
                            Overtime Hours
                            <button type="button" class="btn btn-info m-r-sm">
                                {{workdaySummary.Duration_Summary.Total_Overtime_Hours}}
                            </button>
                        </td>
                   </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    <div class="row" ng-show="activateworkdayMasterTable" >
            <div class="ibox-content">
                <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                    <tr>
                        <th>Work Date</th>
                        <th>Login</th>
                        <th>Log out</th>
                        <th>Logged Time</th>
                        <th ng-show="isFTE">Late Time</th>
                        <th ng-show="isFTE">Over Time</th>
<!--                        <th>Comments</th>
                        <th>Learning</th>-->
                        <th>System Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="workday in workdays">
                        <td>{{workday.Workdate | date:'dd-MMM-yyyy'}}</td>
                        <td>{{workday.Login | date:'hh:mm:ss a' }}</td>
                        <td>{{workday.Logout | date:'hh:mm:ss a'}}</td>
                        <td>{{workday.LoggedTime}}</td>
                        <td ng-show="isFTE">{{workday.LateTime}}</td>
                        <td ng-show="isFTE">{{workday.OverTime}}</td>
<!--                        <td>{{workday.SessionComments}}</td>
                        <td>{{workday.SessionLearning}}</td>-->
                        <td>{{workday.SystemComments}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <div class="row" ng-show="activateworkdayMasterTable">
        <div class="ibox-content">
            <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                <tr>
                    <th>Work Date</th>
                    <th>Comments</th>
                    <th>Learning</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="workday in workdays">
                    <td>{{workday.Workdate | date:'dd-MMM-yyyy'}}</td>
                    <td>{{workday.SessionComments}}</td>
                    <td>{{workday.SessionLearning}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

