<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown ng-show="activateUserName">
                    <!-- Picture of user -->
                  <!--  <img alt="image" class="img-circle" src="img/bhanu.jpg"/>-->
                    <img alt="image" class="img-circle" src="img/{{imageName}}" height="100" width="100"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">{{designation}}<!--<b class="caret"></b>--></span>
                            </span>
                    </a>
                </div>
                <div class="logo-element">
                    <img alt="image" class="img-circle" src="img/subhanu_logo_small.jpg" />
                </div>
            </li>

            <li ng-class="{active: $state.includes('forms')}">
                <a href=""><i class="fa fa-edit"></i> <span class="nav-label">Recruitment Forms</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('forms')}">
                    <li ui-sref-active="active"><a ui-sref="forms.candidate_register">Candidate Registration</a></li>
                    <li ui-sref-active="active"><a ui-sref="forms.candidate_status">Candidate Interaction</a></li>
<!--                    <li ui-sref-active="active"><a ui-sref="forms.daily_metrics">Daily Metrics</a></li>
                    <li ui-sref-active="active"><a ui-sref="forms.documents_update">Activity Update</a></li>-->
                    <li ui-sref-active="active"><a ui-sref="forms.client_interaction">Client Interaction</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('reports')}">
                <a href=""><i class="fa fa-files-o"></i> <span class="nav-label">Recruitment Reports</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('reports')}">
                    <li ui-sref-active="active"><a ui-sref="reports.interview_schedule_report">Interview Schedule</a></li>
                    <li ui-sref-active="active"><a ui-sref="reports.email_candidate_summary">Email Candidate Summary</a></li>
                    <li ui-sref-active="active"><a ui-sref="reports.joined_candidates_report">Joined</a></li>
                    <li ui-sref-active="active"><a ui-sref="reports.offer_accepted_candidates_report">Offer Accepted</a></li>
                    <!--                    <li ui-sref-active="active"><a ui-sref="reports.email_candidate_summary">Yet to Join</a></li>-->
                </ul>
            </li>
            <li ng-class="{active: $state.includes('lookup')}">
                <a href=""><i class="fa fa-table"></i> <span class="nav-label">Recruitment Master Lookup</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('lookup')}">
                    <li ui-sref-active="active"><a ui-sref="lookup.candidate_master">Candidate Master </a></li>
                    <li ui-sref-active="active"><a ui-sref="lookup.candidates_interaction">Candidate Interaction </a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('dashboard')}">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Recruitment Dashboard</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('dashboard')}">
                    <li ui-sref-active="active"><a ui-sref="dashboard.requirement_summary">Requirement Summary</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('coordinator')}">
                <a href=""><i class="fa fa-columns"></i> <span class="nav-label">Co-Ordinator Reports</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('coordinator')}">
                    <li ui-sref-active="active"><a ui-sref="coordinator.candidate">Candidate Co-ordinator</a></li>
                    <li ui-sref-active="active"><a ui-sref="coordinator.joining">Joining Co-ordinator</a></li>
                    <li ui-sref-active="active"><a ui-sref="coordinator.subhanu">Subhanu Co-ordinator</a></li>
                    <li ui-sref-active="active"><a ui-sref="coordinator.jobboard">Jobboard Co-ordinator</a></li>
                    <li ui-sref-active="active"><a ui-sref="coordinator.sap">SAP Co-ordinator</a></li>
                    <li ui-sref-active="active"><a ui-sref="coordinator.assessment">Assessment Co-ordinator</a></li>
                    <li ui-sref-active="active"><a ui-sref="coordinator.client">Client Co-ordinator</a></li>
                    <li ui-sref-active="active"><a ui-sref="coordinator.lead">Lead</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('iforms')}">
                <a href=""><i class="fa fa-diamond"></i> <span class="nav-label">Internal Forms</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('iforms')}">
                    <li ui-sref-active="active"><a ui-sref="iforms.employee_register">Employee Register</a></li>
                    <li ui-sref-active="active"><a ui-sref="iforms.meeting_minutes">Meeting Minutes</a></li>
                    <li ui-sref-active="active"><a ui-sref="iforms.internal_feedback">Internal Feedback</a></li>
                    <li ui-sref-active="active"><a ui-sref="iforms.documents_update">Activity Update</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('status_reports')}">
                <a href=""><i class="fa fa-list-alt"></i> <span class="nav-label">Internal Reports</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('status_reports')}">
                    <li ui-sref-active="active"><a ui-sref="status_reports.daily">Daily Status</a></li>
                    <li ui-sref-active="active"><a ui-sref="status_reports.weekly">Weekly Status</a></li>
                    <li ui-sref-active="active"><a ui-sref="status_reports.tasks">Tasks Status</a></li>
                    <li ui-sref-active="active"><a ui-sref="status_reports.feedback">Feedback</a></li>
                    <li ui-sref-active="active"><a ui-sref="status_reports.meeting">Meeting Report</a></li>
                    <li ui-sref-active="active"><a ui-sref="status_reports.activity">Activity Report</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('workday')}">
                <a href=""><i class="fa fa-user"></i> <span class="nav-label">HR Reports</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('my_reports')}">
                    <li ui-sref-active="active"><a ui-sref="workday.workday_form">Workday</a></li>
                    <li ui-sref-active="active"><a ui-sref="workday.workday_report">Workday Report</a></li>
                    <li ui-sref-active="active"><a ui-sref="workday.leave_plan">Leave Plan</a></li>
                    <li ui-sref-active="active"><a ui-sref="workday.paybooks">Paybooks Leave</a></li>
                    <li ui-sref-active="active"><a ui-sref="workday.policy">Subhanu Policies-Guidelines</a></li>
                    <li ui-sref-active="active"><a ui-sref="workday.roles">Subhanu Roles-responsibilities</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('subhanuInfo')}">
                <a href=""><i class="fa fa-bookmark-o"></i> <span class="nav-label">Subhanu General</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('subhanuInfo')}">
                    <li ui-sref-active="active"><a ui-sref="subhanuInfo.aboutSubhanu">About Subhanu</a></li>
                    <li ui-sref-active="active"><a ui-sref="subhanuInfo.training">Training Docs</a></li>
                    <li ui-sref-active="active"><a ui-sref="subhanuInfo.teamcontact">Team Contact Numbers</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>