<div class="wrapper wrapper-content animated fadeInRight" ng-controller="AssessmentCoordinatorCtrl" >
    <div class="row">
        <div class="col-lg-9">
            <div class="text-center m-t-lg">
                <h1>
                    Assessment Co-ordinator
                </h1>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-7">
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-w-m btn-primary" ng-click="getResponsibility()">
                                        Responsibility
                                    </button>
                                </div>
                                <br>
                                <br>


                            <div class="col-sm-2">
                            <button type="button" class="btn btn-w-m btn-primary" ng-click="getFirstAssessmentReport()">
                                     First Assessment Report
                                </button>
                            </div>
                            <br>
                            <br>

                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getSecondAssessmentReport()">Second Assessment Report
                                </button>
                            </div>
                            <br>
                            <br>

                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getNonCseReport()">Non CSE Report
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>