<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CandidateCoordinatorCtrl" >
    <div class="row">
        <div class="col-lg-9">
            <div class="text-center m-t-lg">
                <h1>
                    Candidate Co-ordinator
                </h1>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-7">
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary" ng-click="getResponsibility()">
                                    Responsibility
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary" ng-click="getFollowUpReport()">
                                    Get Candidate Coordinator Follow Up Report
                                </button>
                            </div>
                            <br>
                            <br>

                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getInterviewSummary()">Get Interview Summary
                                </button>
                            </div>
                            <br>
                            <br>

                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getStatusReport()">Get Status Report
                                </button>
                            </div>
                        <br>
                        <br>

                        <div class="col-sm-2">
                            <button type="button" class="btn btn-w-m btn-primary"
                                    ng-click="getTemplates()">Get Templates
                            </button>
                        </div>
                </div>
                        </form>

</div>
    </div>
            </div>
        </div>
    </div>