<div class="wrapper wrapper-content animated fadeInRight" ng-controller="JoiningCoordinatorCtrl" >
    <div class="row">
        <div class="col-lg-9">
            <div class="text-center m-t-lg">
                <h1>
                    Joining Co-ordinator
                </h1>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-7">
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary" ng-click="getResponsibility()">
                                    Responsibility
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getJoiningFollowup()">Get Follow Up Report
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getWeekwiseJoiningReport()">Week Wise Joining Report
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getMonthwiseOfferAceeptedReport()">Month Wise Offer Accepted Report
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getMonthwiseJoiningReport()">Month Wise Joining Report
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary" ng-click="getJoiningStatusReport()">
                                    Get Status Report
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary" ng-click="getTemplates()">
                                    Get Templates
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>