<div class="wrapper wrapper-content animated fadeInRight" ng-controller="LeadCtrl" >
    <div class="row">
        <div class="col-lg-9">
            <div class="text-center m-t-lg">
                <h1>
                    Lead
                </h1>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-7">
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getOperationsLeadResponsibility()">Operations Lead Responsibility
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getTeamLeadResponsibility()">Team Lead Responsibility
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary" ng-click="getProductivity()">
                                    Daily Activities Report
                                </button>
                            </div>
                            <br>
                            <br>

                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getReports()">Team Coordinator Status Report
                                </button>
                            </div>
                            <br>
                            <br>

                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getDailyTime">Daily Time Login Logout Report
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getIndividualTime()">Individual Login/Logout Report
                                </button>
                            </div>
                            <br>
                            <br>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>