<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SAPCoordinatorCtrl" >
    <div class="row">
        <div class="col-lg-9">
            <div class="text-center m-t-lg">
                <h1>
                    SAP Co-ordinator
                </h1>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form role="form">
                        <div class="col-lg-7">
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary" ng-click="getResponsibility()">
                                    Responsibility
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary" ng-click="getCandidateMaster()">
                                    Candidate Master
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getErrorReportStatus()">Error Report
                                </button>
                            </div>
                            <br>
                            <br>

                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-primary"
                                        ng-click="getJoiningDiscrepancy()">Joining Discrepancy
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>